/* Reset default styles for inputs and buttons */
input,
button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

/* Ensure inputs and buttons are still accessible */
input:focus,
button:focus {
    outline: none;
}


#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

canvas {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  /* make biggest it can be without stretching image */
  max-width: 100%;
  height: 100%;
}
